.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    h1 {
        margin: 1rem;
        font-family: 'Cormorant', serif; 
        text-transform: capitalize;
        letter-spacing: 0.3rem;
        padding: 1rem;
        font-size: 2rem;
        text-align: center;
        position: relative;

        @include respond-to(phone){
            font-size: 3rem;
            padding: 1.5rem;
        }
    
        @include respond-to(tab-port){
            font-size: 4rem;
            padding: 1.8rem;
        }
    
        @include respond-to(tab-land){
            font-size: 5.5rem;
        }
    
        @include respond-to(big-desktop){
            font-size: 7rem;
            padding: 5rem;
        }
    }

    h1:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border: 4px solid black;
      }
}





  